<html>
    <head><title></title></head>
    <body>
        <h1 style = "text-align: center;">SignIn Form</h1>
        <form name = "register" method = "post" action = "/signup/">
            <table align = "center">
                <tr>
                    <td>
                        Email ID
                    </td>
                    <td>
                        <input type = "email" name = "emailid" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type = "password" name = "passwd" />
                    </td>
                </tr>
                <tr>
                    <td colspan = "2" align = "right">
                        <input type = "submit" value = "Sign up" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>